$green:   #39d353;
$blue:    #00bcd6;
$purple:  #B05BFF;
$red:     #f25a46;
$yellow:  #fac840;

$mobile_selectable_items_spacing: 10px;

@mixin clickable-item {
  cursor: pointer;
  user-select: none;
  font-size: 16px;
}

@mixin completely-eliminate-desktop-scrollbars {
  // Chrome / Safari / Webkit
  &::-webkit-scrollbar {
    background: transparent;
    height: 0;
    width: 0;
  }

  // Firefox
  scrollbar-width: none;
}

@mixin avatar($size, $border-width) {
  background-color: #fff;
  border-radius: 50%;

  border: $border-width white solid;

  width: $size;
  height: $size;

  display: grid;
  place-items: center;
  overflow: hidden;
  user-select: none;

  img {
    width: 115%;

    -webkit-user-drag: none;
    -moz-user-drag: none;
    user-drag: none;
  }
}
